/* styles.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: skyblue;
    color: #333;
}

header {
    background-color: #003366;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #003366;
}

h3 {
    color: #00509e;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 8px 0;
}

ul li a {
    color: #0077cc;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

form label, form input, form textarea {
    display: block;
    margin: 10px 0;
}

form input[type="submit"] {
    background-color: #003366;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
